
<!-- <div class="slider-wrapper">
  <h1 class="banner-show-text"><%#= @accommodation.name %></h1>
  <div>
  <div class="slider">
    <%# @accommodation.photos.each do |photo| %>
      <div class="slider--item" style="background-image: linear-gradient(-180deg, rgba(152, 135, 143, 0.0) 0%, rgba(0, 0, 0, 0.7) 95%), url('<%#= cl_image_path(photo.photo) %>')">
      </div>
     <%# end %>
    </div>
  </div>
</div>
<div> -->
  <div class="page-info-med-container-inline-flex">
    <h1 class="banner-show-text-p"><%= image_tag 'destinations.svg', :class => "show-icon" %></h1>
    <div>
      <h4><%= @accommodation.name %> with kids</h4>
      <p><%= @accommodation.description %></p>
    </div>
  </div>
</div>
<div class="page-wrapper">
  <div class="show-large-container-left">

    <div class="show-map-index", id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>">
    </div>

  <h4> Bucket list experiences near <%= @accommodation.name %></h4>
  <div class="med-container-inline-flex">
    <div>
      <% @destination.experiences.each do |experience| %>
      <h1 class="banner-show-text-p"><%= image_tag 'experiences.svg', :class => "show-icon" %></h1>
        <div>
          <h4><%= experience.name %></h4><br>
          <p><%= experience.description %></p>
          <p><%= experience.price %></p>
          <p><%= experience.booking_link %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="show-large-container-right">
      <p> You may also like </p>
      <% @accommodations.each do |accommodation| %>
      <%= link_to accommodation_path(accommodation) do %>
      <%= accommodation.name %>
      <% end %>
      <% end %>
    </div>
</div>

<%= link_to "back to results", root_path %>
    <div class="container reviews">
    <div class="row">
      <div class="col-xs-6">
        <%= render 'reviews/form', type_review: @accommodation, review: @review %>
        <h3>
          <%= pluralize @accommodation.reviews.size, "review" %>
        </h3>
        <div id="reviews">
          <% if @accommodation.reviews.blank? %>
            Be the first to leave  review for <%= @accommodation.name %>
          <% else %>
          <ul class="list-inline">
            <% @accommodation.reviews.each do |review| %>
            <%= render 'reviews/show', review: review %>
            <% end %>
          </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>


 <%= link_to "Add new experience", new_destination_experience_path(@destination), class: "btn btn-primary" %>

        <%= link_to "Add new accommodation", new_destination_accommodation_path(@destination), class: "btn btn-primary" %>

        <%= link_to "Edit", edit_destination_path(@destination) %>

        <%= link_to "back to results", root_path %>




