<% content_for :meta_title, "#{@accommodation.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @accommodation.description %>

<div class="slider-wrapper">
  <h1 class="banner-show-text"><%= @accommodation.name %></h1>
    <div>
      <div class="slider">
        <% @accommodation.photos.each do |photo| %>
        <div class="slider--item" style="background-image: linear-gradient(-180deg, rgba(152, 135, 143, 0.0) 0%, rgba(0, 0, 0, 0.7) 95%), url('<%= cl_image_path(photo.photo) %>')">
      </div>
     <% end %>
    </div>
  </div>
</div>

<div class="page-info-med-container-inline-flex">
  <h1 class="banner-show-text-p"><%= image_tag 'destinations.svg', :class => "page-info-icon" %></h1>
  <div class=<div class="page-info-content">
    <h4><%= @accommodation.name %> with kids</h4>
    <p><%= @accommodation.description %></p>
      <div class="link-to-bucket-list">
    <%= link_to "Add to bucket list", bucket_count_accommodation_path(@accommodation), method: :put, class: "btn btn-primary" %>
  </div>
  </div>
</div>

<div class="page-wrapper">
  <div class="show-large-container-left">
    <div class="med-container-inline-flex">
    <div class="show-map-index", id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>

  <div class="show-large-container-right">
      <p class="page-text"> You may also like </p>
      <% @accommodations.each_with_index do |accommodation, index| %>
      <%= link_to accommodation_path(accommodation) do %>
      <%= index + 1 %>.<%= accommodation.name %>
      <% end %>
      <% end %>
    </div>
   </div>
 </div>

<!-- FRONTEND FOR TOURS AT EXPERIENCE SHOW -->
<div class="show-recommendations-wrapper">
  <div class="container tours">
    <div class="row">
      <div class="col-xs-12 col-sm-10">
        <p class="page-text">Bucket List Experiences near this accommodation</p>
        <%= render 'shared/nearbyexperiences' %>
      </div>
    </div>
  </div>
</div>

    <!-- <div class="show-large-container-right">
      <p> You may also like </p>
      <%# @accommodations.each do |accommodation| %>
      <%#= link_to accommodation_path(accommodation) do %>
      <%#= accommodation.name %>
      <%# end %>
      <%# end %>
    </div> -->

<%= link_to "back to results", root_path %>
    <div class="container reviews">
    <div class="row">
      <div class="col-xs-10">
        <h2>Ticked it off already? Please leave a review to help others...</h2>
        <%= render 'reviews/form', type_review: @accommodation, review: @review %>
        <h3>
          <%= pluralize @accommodation.reviews.size, "review" %>
        </h3>
        <div id="reviews">
          <% if @accommodation.reviews.blank? %>
            Be the first to leave  review for <%= @accommodation.name %>
          <% else %>
          <ul class="list-inline">
            <% @accommodation.reviews.each do |review| %>
            <%= render 'reviews/show', review: review %>
            <% end %>
          </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% if policy(@accommodation).edit? %>
  <%= link_to "Edit", edit_accommodation_path(@accommodation), class: "btn btn-primary" %>
<% end %>
