
<% if entity.class.name == "Destination" %>
  <% proper_path = destination_path(entity) %>
  <% icon_name = 'card_dest_icon_blue.svg' %>
  <% isbucket = current_user && current_user.bucket_list_items.where(destination: entity).empty? %>
<% elsif entity.class.name == "Experience" %>
  <% proper_path = experience_path(entity) %>
  <% icon_name = 'card_exper_icon_blue.svg' %>
  <% isbucket = current_user && current_user.bucket_list_items.where(experience: entity).empty? %>
<% elsif entity.class.name == "Accommodation" %>
  <% proper_path = accommodation_path(entity) %>
  <% icon_name = 'card_accomm_icon_blue.svg' %>
  <% isbucket = current_user && current_user.bucket_list_items.where(accommodation: entity).empty? %>
<% end %>

<li class="left-column-element">
<%= link_to proper_path do %>

  <div class="card-index">
    <!--  LINE CHANGE FOR CL WITH SEED -->
    <div class="card-background-image" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= entity.photos.empty? ? "" : cl_image_path(entity.photos.first.photo) %>');">
      <div class="card-index">
        <%= image_tag icon_name, :class => "icon-card" %>
        <h1 class="title"><%= entity.name %></h1>
        <h1 class="locality"><%= entity.locality %>, <%= entity.country %></h1>

        <% count_path = "bucket_count_#{entity.class.name.downcase}_path".to_sym %>

        <!-- If added logo will change to FA icon -->
        <% if isbucket || !current_user %>
          <%= link_to method(count_path).call(entity), method: :put do %>
            <div class="bucket-button" style="background-image: url(<%= image_url 'small_bucket.svg' %>);">
            </div>
          <% end %>
        <% else %>
            <div class="bucket-tick">
            <i class="fa fa-check-circle"></i>
          </div>
        <% end %>

         <%= image_tag 'small_bucket_blue.svg', :class => "bucket-button-blue" %>
         <h6 class="count-text"><%= entity.get_upvotes.count %> added</h6>
      </div>
    </div>

   <!--  This <%#= "#{entity.class.name.downcase}" %> has been added <%#= entity.get_upvotes.count %> times</h6> -->
<% end %>
</li>
