<div class="big-flex">
  <div class= "content">
    <ul class="left-column">
      <% @destinations.each do |bucket_item| %>
      <!-- itteration over destinations -->

     <li class="left-column-element">
        <div class="card-index">
          <div class="card-background-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= bucket_item.destination.photo.url.nil? ? "" : cl_image_path(bucket_item.destination.photo) %>');">
            <div class="card-index">
              <%= image_tag 'card_dest_icon.svg', :class => "icon-card" %>
              <h1 class="title"><%= bucket_item.destination.name %></h1>
              <h1 class="locality"><%= bucket_item.destination.locality %>, <%= bucket_item.destination.country %></h1>
              <%= link_to bucket_count_destination_path(bucket_item),method: :put do %>
              <%= image_tag 'small_bucket.svg', :class => "bucket-button" %>
              <% end %>
            </div>
          </div>
        </div>
        <h6>this destination has been added <%= bucket_item.destination.get_upvotes.count %> times</h6>
      </li>
      <% end %>
    </ul>
  </div>
</div>
