  <div class="right-column">
    <p>
      <%= form_tag destinations_path, method: :get do %>
      <%= hidden_field_tag :query, params[:query], class: "form-control", placeholder: "Search for experience eg. 'Rome'" %>
      <button type="submit" class="index-button">Refresh filters</button><br>
      <p>TYPE</p>
      <p><%= check_box_tag(:destination) %>
      <%= label_tag(:destination, "Destination") %></p>
      <p><%= check_box_tag(:experience) %>
      <%= label_tag(:experience, "Experience") %></p>
      <p><%= check_box_tag(:accommodation) %>
      <%= label_tag(:accommodation, "Accommodation") %></p>
      <br>
      <p>FOR KIDS AGED:</p>
      <p><%= check_box_tag(:Age_0_4) %>
      <%= label_tag(:Age_0_4, "0-4") %></p>
      <p><%= check_box_tag(:Age_5_7) %>
      <%= label_tag(:Age_5_7, "5-7") %></p>
      <p><%= check_box_tag(:Age_8_11) %>
      <%= label_tag(:Age_8_11, "8-11") %></p>
      <p><%= check_box_tag(:Age_12_15) %>
      <%= label_tag(:Age_12_15, "12-15") %></p>
      <p><%= check_box_tag(:Age_16_18) %>
      <%= label_tag(:Age_12_15, "16-18") %></p>
      <br>
      <p>EXPERIENCE THEME</p>
      <p><%= check_box_tag(:adventure) %>
      <%= label_tag(:adventure, "Adventure & Sport") %></p>
      <p><%= check_box_tag(:art) %>
      <%= label_tag(:art, "Art & Culture") %></p>
      <p><%= check_box_tag(:automobiles) %>
      <%= label_tag(:automobiles, "Automobiles") %></p>
      <p><%= check_box_tag(:body) %>
      <%= label_tag(:body, "Body & Mind") %></p>
      <p><%= check_box_tag(:entertainment) %>
      <%= label_tag(:entertainment, "Entertainment") %></p>
      <p><%= check_box_tag(:food) %>
      <%= label_tag(:food, "Food & Drink") %></p>
      <p><%= check_box_tag(:science) %>
      <%= label_tag(:science, "Science & Nature") %></p>
      <p><%= check_box_tag(:shopping) %>
      <%= label_tag(:shopping, "Shopping") %></p>
      <br>
      <p>HOLIDAY TYPE</p>
      <p><%= check_box_tag(:beach) %>
      <%= label_tag(:beach, "Beach") %></p>
      <p><%= check_box_tag(:city) %>
      <%= label_tag(:city, "City Break") %></p>
      <p><%= check_box_tag(:cruise) %>
      <%= label_tag(:cruise, "Cruise") %></p>
      <p><%= check_box_tag(:outdoors) %>
      <%= label_tag(:outdoors, "Great Outdoors") %></p>
      <p><%= check_box_tag(:snow) %>
      <%= label_tag(:snow, "Snow") %></p>
      <br>
      <p>REGION</p>
      <p><%= check_box_tag(:asia) %>
      <%= label_tag(:asia, "Asia, China & India") %></p>
      <p><%= check_box_tag(:australia) %>
      <%= label_tag(:australia, "Australia & South Pacific") %></p>
      <p><%= check_box_tag(:europe) %>
      <%= label_tag(:rurope, "Europe") %></p>
      <p><%= check_box_tag(:middle) %>
      <%= label_tag(:middle, "Middle East & N Africa") %></p>
      <p><%= check_box_tag(:north) %>
      <%= label_tag(:north, "North America") %></p>
      <p><%= check_box_tag(:south) %>
      <%= label_tag(:south, "South America") %></p>
      <p><%= check_box_tag(:africa) %>
      <%= label_tag(:africa, "Africa (Sub-Saharan)") %></p>
      <br>
      <button type="submit" class="index-button-bottom">Refresh filters</button><br>
      <% end %>
  </div>
