<% content_for :meta_title, "#{@experience.meta_title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @experience.meta_description %>

<% content_for :extra_meta do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://google.com/article"
    },
    "headline": "<%= @experience.meta_title %>",
    "image": [
      "<%= @experience.photos.map {|p| p.photo.url }.join("\",\n\"").html_safe %>"
     ],
    "datePublished": "2015-02-05T08:00:00+08:00",
    "dateModified": "2015-02-05T09:20:00+08:00",
    "author": {
      "@type": "Person",
      "name": "John Doe"
    },
     "publisher": {
      "@type": "Organization",
      "name": "Google",
      "logo": {
        "@type": "ImageObject",
        "url": "https://google.com/logo.jpg"
      }
    },
    "description": "<%= @experience.meta_description %>"
  }
  </script>
<% end %>

<div class="slider-wrapper">
  <h1 class="banner-show-text"><%= @experience.name %></h1>
    <div>
      <div class="slider">
        <% @experience.photos.each do |photo| %>
        <div class="slider--item" style="background-image: linear-gradient(-180deg, rgba(152, 135, 143, 0.0) 0%, rgba(0, 0, 0, 0.7) 95%), url('<%= cl_image_path(photo.photo) %>')">
      </div>
     <% end %>
    </div>
  </div>
</div>

<div class="page-info-med-container-inline-flex">
  <h1 class="banner-show-text-p"></h1>
  <div class=<div class="page-info-content">
    <h2><%= @experience.name %> with kids</h2>
    <p><%= @experience.description %></p>
  <div class="link-to-bucket-list">
    <%= link_to "Add to bucket list", bucket_count_experience_path(@experience), method: :put, class: "btn btn-primary" %>
  </div>
  </div>
</div>

<div class="page-wrapper">
  <div class="show-large-container-left">
    <div class="med-container-inline-flex">
    <div class="show-map-index", id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>">
    </div>
  </div>

   </div>
    <div class="show-large-container-right">
      <p class="page-text"> You may also like </p>
      <% @experiences.each_with_index do |experience, index| %>
      <%= link_to experience_path(experience) do %>
      <%= index + 1 %>.<%= experience.name %>
      <% end %>
      <% end %>
    </div>
</div>
<div class="show-recommendations-wrapper">
    <!-- FRONTEND FOR TOURS AT EXPERIENCE SHOW -->
    <div class="container tours">
      <div class="row">
        <div class="col-xs-12 col-sm-10">
          <p class="page-text">Recommended Tours</p>
          <%= render 'shared/viator' %>
        </div>
      </div>
    </div>
  </div>

    <!-- FRONTEND FOR ACCOMMODATIONS AT EXPERIENCE SHOW -->
    <div class="show-recommendations-wrapper">
      <div class="container other-accomodation">
        <div class="row">
          <div class="col-xs-12 col-sm-10">
            <p class='page-text'>Family-friendly accommodation nearby</h2>
            <%= render 'shared/booking' %>
          </div>
        </div>
      </div>
    </div>

    <!-- FAST xs-12 sm-10 CLASS AROUND THE REVIEWS -->
    <div class="show-recommendations-wrapper">
      <div class="container reviews">
        <div class="row">
          <div class="col-xs-12 col-sm-10">
            <h2>Ticked it off already? Please leave a review to help others...</h2>
            <%= render 'reviews/form', type_review: @experience, review: @review %>
            <h3>
              <%= pluralize @experience.reviews.size, "review" %>
            </h3>
            <div id="reviews">
              <% if @experience.reviews.blank? %>
              Be the first to leave a review for <%= @experience.name %>
              <% else %>
              <% @experience.reviews.each do |review| %>
              <%= render 'reviews/show', review: review %>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


<% if policy(@experience).edit? %>
  <%= link_to "Edit", edit_experience_path(@experience), class: "btn btn-primary" %>
<% end %>

<%= render 'shared/footer' %>
