
<div class="banner-pages show-page-banner-text" style="background-image: linear-gradient(-225deg, rgba(152, 135, 143 ,0.6) 0%, rgba(73, 78, 107, 0.6) 50%), url('<%= cl_image_path(@experience.photo) %>');">
  <div class="show-page-photo">
    <h1><%= @experience.name %></h1>
  </div>
</div>
<div class="big-flex">
  <div class="left-column">
    <div class="show-container">
      <div class="left-column-element">
        <h3>ABOUT</h3>
        <p><%= @experience.description %></p><br>
      </div>
    </div>
  </div>
  <%= link_to "back to results", destinations_path %>

  <div class="container reviews">
  <div class="row">
    <div class="col-xs-6">
      <%= render 'reviews/form', type_review: @experience, review: @review %>
      <h3>
        <%= pluralize @experience.reviews.size, "review" %>
      </h3>
      <div id="reviews">
        <% if @experience.reviews.blank? %>
          Be the first to leave a review for <%= @experience.name %>
        <% else %>
          <% @experience.reviews.each do |review| %>
          <%= render 'reviews/show', review: review %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
 <!--  <div class="right-column-show">





    <! <p><%#= @destination.name %> it a good choice for families that like <%#= @destination.holiday_type %>, and <%#= @destination.theme %></p> -->

    <%# if policy(@experience).update? %>
    <%#= link_to "Edit", edit_destination_path(@destination) %>
    <%# end %>
    <%# if policy(@experience).create? %>
    <%#= link_to "Add new experience", new_destination_experience_path(@destination), class: "btn btn-primary" %>
    <%# end %>
    <%# if policy(@experience).destroy? %>
      <%#= link_to 'Delete', experience_path(@experience),
      method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <%# end %>
</div>


<!-- <div class="show-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%#= cl_image_path(@experience.photo) %>');">
  <h1 class="show-page-banner-text"><%#= @experience.name %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
        <h3><%#= @experience.name %></h3>
        <p><%#= @experience.description %></p>
        <p><strong>Location of <%#= @experience.name %>'s experience</strong>
        <p><%#= @experience.locality %></p>
        <p><%#= @experience.country %></p>
        <p><%#= @experience.region %></p>
        <p><%#= @experience.bucket_list_count %></p>
        <%#= link_to "Edit", edit_experience_path(@experience) %>
    </div>

    <div class="col-xs-6">
        <h3>You also like:</h3>
        <ul>
          <li>
            Hot Air Balooning Grand Canyon
          </li>
          <li>
            Hot Air Balooning Cape Town
          </li>
          <li>
            Hot Air Balooning Victoria Falls
          </li>
          <li>
            Hot Air Balooning Marrakech
          </li>
          <li>
            Hot Air Balooning in Bath
          </li>
        </ul>
    </div>
  </div>
</div>
<div class="container tours">
  <div class="row">
    <div class="col-xs-10">
      <h1>Recommended Tours</h1>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <img src="https://picsum.photos/1200/700" alt="" class="product-image hidden-xs">
        <div class='product-body'>
          <h3>Hot air balloon ride over Cappadocia</h3>
          <p>Amazing views</p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-bitbucket"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <img src="https://picsum.photos/1200/700" alt="" class="product-image hidden-xs">
        <div class='product-body'>
          <h3>Hot air balloon ride over Cappadocia</h3>
          <p>Amazing views</p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <img src="https://picsum.photos/1200/700" alt="" class="product-image hidden-xs">
        <div class='product-body'>
          <h3>Hot air balloon ride over Cappadocia</h3>
          <p>Amazing views</p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container accommodation">
  <div class="row">
    <div class="col-xs-10">
      <h1>Bucket List Accommodation nearby</h1>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <img src="https://picsum.photos/1200/700" alt="" class="product-image hidden-xs">
        <div class='product-body'>
          <h3>Hot air balloon ride over Cappadocia</h3>
          <p>Amazing views</p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <img src="https://picsum.photos/1200/700" alt="" class="product-image hidden-xs">
        <div class='product-body'>
          <h3>Hot air balloon ride over Cappadocia</h3>
          <p>Amazing views</p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <img src="https://picsum.photos/1200/700" alt="" class="product-image hidden-xs">
        <div class='product-body'>
          <h3>Hot air balloon ride over Cappadocia</h3>
          <p>Amazing views</p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container other-accomodation">
  <div class="row">
    <div class="col-xs-10">
      <h1>Other family-friendly accommodation nearby</h1>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <img src="https://picsum.photos/1200/700" alt="" class="product-image hidden-xs">
        <div class='product-body'>
          <h3>Hot air balloon ride over Cappadocia</h3>
          <p>Amazing views</p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <img src="https://picsum.photos/1200/700" alt="" class="product-image hidden-xs">
        <div class='product-body'>
          <h3>Hot air balloon ride over Cappadocia</h3>
          <p>Amazing views</p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <img src="https://picsum.photos/1200/700" alt="" class="product-image hidden-xs">
        <div class='product-body'>
          <h3>Hot air balloon ride over Cappadocia</h3>
          <p>Amazing views</p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div id="map" style="width: 100%; height: 600px;" data-markers="<%#= @markers.to_json %>">
</div>
 -->
