<%= render 'layouts/backoffice' do %>
  <p>
  <%= link_to "Create new destination", new_destination_path, class: "btn btn-primary" %>
  </p>
  <table class="table table-striped">
    <tbody>
      <% @destinations.each do |destination| %>
        <tr>
          <td>
            <%= link_to destination.name, destination_path(destination) %>
          </td>
          <td>
            <%= form_for destination do |f| %>
              <% if not destination.show? %>
                <%= f.hidden_field :show, value: true %>
                <%= f.submit "Publish", class: "btn btn-danger" %>
              <% else %>
                <%= f.hidden_field :show, value: false %>
                <%= f.submit "Unpublish", class: "btn btn-secondary" %>
              <% end %>
            <% end %>
          </td>

          <td>
            <%= link_to "Manage Experiences", manage_destination_experiences_path(destination), class: "btn btn-primary" %>
          </td>

          <td>
            <%= link_to "Edit", edit_destination_path(destination), class: "btn btn-default" %>
          </td>
          <td>
            <%= link_to 'Destroy',  destination_path(destination),  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>