<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path '12849.jpg'%>);">
  <div class="banner-content">
    <h1>Make great memories</h1>
    <p>Amazing holiday experiences, handpicked just for families</p>
    <%= form_tag experiences_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "search-bar form-control",
      placeholder: "Search for experience eg. 'Rome'" %>
      <% end %>
    </div>
  </div>
<div class="big-flex">
    <div>
      <ul class="left-column">
        <% @destinations.each do |destination| %>
          <%= link_to destination_path(destination) do %>
            <li class="left-column-element">
              <div class="card-index">
                <h1 class="title"><%= destination.name %></h1>
                <h1 class="locality"><%= destination.country %></h1>
                <img class="card-user" src="">
                <%= link_to bucket_count_destination_path(destination), method: :put do %>
                  <i class="fa fa-bitbucket right"> </i>
                <% end %>
                <!-- <h1 class="stars"><%# destination.reviews.each do |review| %>
                  <%# review.rating.times do |n| %>
                  <i class="fa fa-star"></i>
                  <%# end %> -->
                <!-- <img class="avatar user-image"> -->
                <%= image_tag "venice.jpg", class: "card-background-image" %>
                <%#= cl_image_tag destination.photo, :class => "card-background-image" %>
                  <%#= user.photo %>
                  <%# end %>
              </div>
            </li>
            <% end %>
          <% end %>
      </ul>
    </div>


                <!-- <h1 class="price">$  --><%#= destination.price %><!-- </h1> -->
                <!-- <!<! <h1 class="stars"> --><%# destination.reviews.each do |review| %> -->
                  <%# review.rating.times do |n| %>
                  <!-- <i class="fa fa-star"></i> -->
                  <%# end %>
               <!--  <img class="avatar user-image"> -->
                <%# cl_image_tag destination.user.photo, class:'avatar user-image' %>
                  <%#= user.photo %>
                  <%# end %>
       <!--          </h1> -->



            <!--   </div>
            </li> -->
            <%# end %>
          <%# end %>
  <!--     </ul>
    </div>
  </div> -->

    <div class="right-column">
      <p><strong>TYPE</strong></p>
      <p><%= check_box_tag(:destination) %>
      <%= label_tag(:destination, "destination") %></p>
      <p><%= check_box_tag(:Accomodation) %>
      <%= label_tag(:Accomodation, "Accomodation") %></p>
      <p><%= check_box_tag(:Destination) %>
      <%= label_tag(:Destination, "Destination") %></p>
      <br>
      <p><strong>KID'S AGE</strong></p>
      <p><%= check_box_tag(:Age_group_one) %>
      <%= label_tag(:Age_group_one, "5-7") %></p>
      <p><%= check_box_tag(:Age_group_two) %>
      <%= label_tag(:Age_group_two, "8-10") %></p>
      <p><%= check_box_tag(:Age_group_three) %>
      <%= label_tag(:Age_group_three, "11-12") %></p>
      <br>
      <p><strong>THEME</strong></p>
      <p><%= check_box_tag(:Adventure) %>
      <%= label_tag(:Adventure, "Adventure & Sport") %></p>
      <p><%= check_box_tag(:Art) %>
      <%= label_tag(:Art, "Art & Culture") %></p>
      <p><%= check_box_tag(:Wellness) %>
      <%= label_tag(:Wellness, "Body & Mind") %></p>
      <p><%= check_box_tag(:Entertainment) %>
      <%= label_tag(:Entertainment, "Entertainment") %></p>
      <p><%= check_box_tag(:Food) %>
      <%= label_tag(:Food, "Food & Drink") %></p>
      <p><%= check_box_tag(:Science) %>
      <%= label_tag(:Science, "Science & Nature") %></p>
      <p><%= check_box_tag(:Shopping) %>
      <%= label_tag(:Shopping, "Shopping") %></p>
</div>

<!-- <div class="container">
  <div class="row">
    <h1>All destinations</h1>
    <%# @destinations.each do |destination| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/300/200/city/');">
        <div class="card-category">
          <%#= destination.name %>
        </div>
        <div class="card-description">
          <p><%#= destination.locality %></p>
          <p><%#= destination.country %></p>
         <p><%#= destination.region %></p>
        </div>
        <img class="card-user" src="">
        <%#= link_to bucket_count_destination_path(destination), method: :put do %>
          <i class="fa fa-bitbucket right"> </i>
        <%# end %>
      <!</div>
      <!<h6>this destination has been added <%#= destination.get_upvotes.count %> times</h6> -->
   <!--  </div> --> -->
    <%# end %>
  <!-- </div>
</div> -->
</div>
<div>
<div class = "full-page-column">
<%= link_to "New", new_destination_path(@destination) %>
</div>


<div class="container">
  <div
  id="map"
  style="width: 100%; position: absolute; bottom: 10px;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>
</div>






