<% if policy(Destination).create? %>
<%= link_to "Add new destination", new_destination_path, class: "btn btn-primary" %>
<% end %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(152, 135, 143, 0.6) 0%, rgba(73, 78, 107, 0.6) 50%), url('<%= image_path 'banner2.jpg'%>');">

  <div class="banner-content">
  <%= image_tag 'logo.svg', :class => "page-logo" %><br>
<!--    <button class="banner-button"><%= link_to "Get Started", :anchor => "page-link" %></button> -->

    <div>
      <%= form_tag destinations_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search for experience eg. 'Rome'" %>
      <button type="submit" class="btn btn-primary">Search</button>
      <input type="checkbox" name="nature" value="true"> Nature
      <input type="checkbox" name="adventure" value="true"> Adventure<br>
      <% end %>
    </div>
  </div>
</div>
<div class="page-info-box" id="page-link">
  <p>Unique holiday inspiration, handpicked just for families</p>
<div class="icons">
  <%= image_tag 'destinations.svg', :class => "icon" %>
  <%= image_tag 'experiences.svg', :class => "icon" %>
  <%= image_tag 'accommodations.svg', :class => "icon" %>
</div>
</div>
<div class="big-flex">
  <div class= "content">
    <% if @shuffled_entities.empty? %>
    <h1>Sorry - we have no recommendations matching your search. Please try again</h1>
    <% else %>
    <ul class="left-column">
    <%= render partial: "shared/cards", collection: @shuffled_entities, as: :entity %>
    <!-- partials are off for the shuffle funtion -->
    <%#= render partial: "shared/cards", collection: @accommodations, as: :entity, locals: { type: "accommodation" } %>
    <%#= render partial: "shared/cards", collection: @experiences, as: :entity, locals: { type: "experience" } %>
    </ul>
    <% end %>
  </div>
  <div class="right-column">
    <p><strong>TYPE</strong></p>
    <p><%= check_box_tag(:destination) %>
      <%= label_tag(:destination, "Destination") %></p>
      <p><%= check_box_tag(:experience) %>
      <%= label_tag(:experience, "Experience") %></p>
      <p><%= check_box_tag(:destination) %>
      <%= label_tag(:accommodation, "Accommodation") %></p>
      <br>
      <p><strong>KID'S AGE</strong></p>
      <p><%= check_box_tag(:Age_group_one) %>
      <%= label_tag(:Age_group_one, "5-7") %></p>
      <p><%= check_box_tag(:Age_group_two) %>
      <%= label_tag(:Age_group_two, "8-10") %></p>
      <p><%= check_box_tag(:Age_group_three) %>
      <%= label_tag(:Age_group_three, "11-12") %></p>
      <br>
      <p><strong>THEME</strong></p>
      <p><%= check_box_tag(:Adventure) %>
      <%= label_tag(:Adventure, "Adventure & Sport") %></p>
      <p><%= check_box_tag(:Art) %>
      <%= label_tag(:Art, "Art & Culture") %></p>
      <p><%= check_box_tag(:Wellness) %>
      <%= label_tag(:Wellness, "Body & Mind") %></p>
      <p><%= check_box_tag(:Entertainment) %>
      <%= label_tag(:Entertainment, "Entertainment") %></p>
      <p><%= check_box_tag(:Food) %>
      <%= label_tag(:Food, "Food & Drink") %></p>
      <p><%= check_box_tag(:Science, "Science") %>
      <%= label_tag(:Science, "Nature") %></p>
      <p><%= check_box_tag(:Shopping) %>
      <%= label_tag(:Shopping, "Shopping") %></p>
    </div>
</div>
<!--   <div class = "full-page-column">
    <%#= link_to "New", new_destination_path(@destination) %>
  </div> -->
</div>

<!-- MAP -->
<div class="map-index", id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>"></div>
</div>
