<h1>All destinations<h1>





<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% @destinations.each do |destination| %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3),
      rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-category">
              <%= destination.name %>
            </div>
            <div class="card-description">
              <%= destination.locality %>
              <%= destination.country %>
              <%= destination.region %>
            </div>
            <%= link_to destination_path(destination), class: 'card-link' do %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>
</div>
<!-- MAP -->



