<h1>All destinations<h1>
<% @destinations.each do |destination| %>
<%= destination.name %><br>
<%= destination.locality %><br>
<%= destination.country %><br>
<%= destination.region %><br>
<% end %>
<<<<<<< HEAD

<!-- MAP -->
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

=======
>>>>>>> master
