<div class="slider-wrapper">
  <h1 class="banner-show-text"><%= @destination.name %></h1>
  <div>
  <div class="slider">
    <% @destination.photos.each do |photo| %>
      <div class="slider--item" style="background-image: linear-gradient(-180deg, rgba(152, 135, 143, 0.0) 0%, rgba(0, 0, 0, 0.7) 95%), url('<%= cl_image_path(photo.photo) %>')">
      </div>
     <% end %>
    </div>
  </div>
</div>



<% if policy(Destination).new? %>
  <%= link_to "Add new destination", new_destination_path, class: "btn btn-primary" %>
<% end %>
<% if policy(Experience).new? %>
  <%= link_to "Add new experience", new_destination_experience_path(@destination), class: "btn btn-primary" %>
<% end %>
<% if policy(Accommodation).new? %>
  <%= link_to "Add new accommodation", new_destination_accommodation_path(@destination), class: "btn btn-primary" %>
<% end %>
<% if policy(@destination).edit? %>
  <%= link_to "Edit", edit_destination_path(@destination), class: "btn btn-primary" %>
<% end %>




<div class="show-large-container">


  <div class="med-container-inline-flex">
     <h1 class="banner-show-text-p"><%= image_tag 'destinations.svg', :class => "show-icon" %></h1>
    <div>
      <h4><%= @destination.name %> with kids</h4>
      <p><%= @destination.description %></p>
    </div>
  </div>

  <!-- end of box 1, next is a div for the photo carousel -->
<div class="show-map-index", id="map" style="width: 70%; height: 600px;" data-markers="<%= @markers.to_json %>">
</div>


  <!-- next is header for the "experiences in this destination" cards -->

  <div class="page-text">
    <h1> Bucket list experiences in <%= @destination.name %></h1>
  </div>

<!-- next "experiences in this destination" cards
  *This code does not create an error, but doesn't display anything either
  ____________________________________________________________________________-->
  <div class="right-column-show">
    <% @destination.experiences.each do |experience| %>
    <%= link_to experience_path(experience) do %>
    <p><%= experience.name %></p><br>
    <p><%= experience.description %></p>
    <% end %>
    <% end %>
  </div>

<!-- Creating code to take a photo and turn it into an undistorted thumbnail (for show page card) in progress
  ________________________________________________________________________________________________
  <! <div class="med-container-inline-flex">
    <div class="thumbnail-container thumbnail" style="background-image: url(<%#= @destination.experience.photo %>)">
    </div> -->
      <!-- <div class="thumbnail-container">
        <%#= image_tag 'banner2.jpg', :class => "portrait thumbnail" %>
        <img src="portrait-img.jpg" class="portrait" alt="Image" />


<div class="big-flex">
  <div class="left-column">
    <div class="show-container">
      <div class="left-column-element">
        <h3>ABOUT</h3>
        <p><%#= @destination.description %></p><br>
accomm. and destination
      </div>
 ___________________________________________________________________________________________________ -->

<!-- map code -->


    <!-- FRONTEND FOR TOURS AT EXPERIENCE SHOW -->
    <div class="container tours">
      <div class="row">
        <div class="col-xs-12 col-sm-10">
          <h2>Recommended Tours</h2>
          <%= render 'shared/nearbyexperiences' %>
        </div>
      </div>
    </div>

    <!-- FRONTEND FOR NEARBY ACCOMMODATIONS AROUND THIS EXPERIENCE -->
    <div class="container other-accomodation">
      <div class="row">
        <div class="col-xs-12 col-sm-10">
          <h2>Family-friendly accommodation nearby</h2>
          <%= render 'shared/booking' %>
        </div>
      </div>
    </div>

 <!-- div for bucket list accommodations to go here / show-page-cards -->

  <div class="container-right">
    <% @destination.accommodations.each do |accommodation| %>
    <%= link_to accommodation_path(accommodation) do %>
    <p><%= accommodation.name %></p><br>
    <p><%= accommodation.description %></p>
    <% end %>
    <% end %>
  </div>


<!-- div for stacked display for other recommended accommodations -->
<div class="med-cont-vertical-flex">
  <%= image_tag 'accommodations.svg', :class => "show-icon" %>
  <div>
    <div class="right-column-show">
      <h1><%= @destination.name %></h1>
      <p><%= @destination.full_address %></p>
    </div>
    <div class="right-column-show">
      <h1><%= @destination.name %></h1>
      <p><%= @destination.full_address %></p>
    </div>
  </div>
  <div class="right-column-show">
    <h1><%= @destination.name %></h1>
    <p><%= @destination.full_address %></p>
  </div>
</div>

  <div class="med-cont-vertical-flex">
    <p>other accom.</p>
  </div>
</div>
</div

