<h1><%= @destination.name %></h1><br>
<p><%= @destination.description %></p><br>
<p><%= @destination.locality %></p>
<p><%= @destination.country %></p>
<p><%= @destination.region %></p>

<%= link_to "Edit", edit_destination_path(@destination) %>
